/lib/apiguardian-api-1.0.0.jar
/out/*
/.idea/compiler.xml
/.idea/description.html
/.idea/encodings.xml
/FiltersPackageV1.uml
/lib/JMapViewer.jar
/lib/junit-jupiter-5.4.2.jar
/lib/junit-jupiter-api-5.4.2.jar
/lib/junit-jupiter-engine-5.4.2.jar
/lib/junit-jupiter-params-5.4.2.jar
/lib/junit-platform-commons-1.4.2.jar
/lib/junit-platform-engine-1.4.2.jar
/.idea/dictionaries/jurge.xml
/.idea/misc.xml
/.idea/modules.xml
/lib/opentest4j-1.1.1.jar
/lib/twitter4j-core-4.0.4.jar
/lib/twitter4j-stream-4.0.4.jar
/TwitterMapper.iml
/TwitterPackageV1.uml
/.idea/uiDesigner.xml
/UIPackageV1.uml
/UtilPackageV1.uml
/.idea/vcs.xml
/.idea/workspace.xml
